.introduction {
  padding-top: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}

.introduction-image img {
  width: 100%;
}

.introduction h1 {
  font-size: 3.2rem;
  background: linear-gradient(
    270deg,
    var(--emphasize-light),
    var(--emphasize-dark)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.introduction h2 {
  color: var(--main-dark);
  margin-bottom: 20px;
}

.introduction p {
  font-size: 1.4rem;
}

.introduction p:nth-child(even) {
  margin-bottom: 40px;
}

.btn {
  display: flex;
  gap: 20px;
}

.button {
  background-color: var(--usual-dark);
  padding: 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  width: max-content;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(
    270deg,
    var(--emphasize-light),
    var(--emphasize-dark)
  );
}

@media (max-width: 1044px) {
  .introduction h1 {
    font-size: 2.4rem;
  }
  .introduction p {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .introduction {
    grid-template-columns: 1fr;
    margin: 0 40px 150px 40px;
  }
  .introduction-image img {
    display: none;
  }
}