.linkedin svg {
  bottom: 140px;
  right: 27px;
  position: fixed;
}

.linkedin img {
  bottom: 130px;
  right: 20px;
  position: fixed;
}

.github svg {
  bottom: 30px;
  right: 27px;
  position: fixed;
}

.github img {
  bottom: 20px;
  right: 20px;
  position: fixed;
}
