.projects {
    margin-bottom: 40px;
}

.projects h1 {
    font-size: 3.2rem;
    margin-bottom: 40px;
    padding-top: 120px;
}

.projects-cards .card {
    background-color: var(--main-light);
    border-radius: 45px;
    width: 403px;
    min-width: 300px;
    margin-bottom: 40px;
    cursor: pointer;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 45px 45px 0 0;
}

.card h2 {
    padding: 20px 40px 20px 40px;
    font-size: 2rem;
}

.card p {
    font-size: 1.4rem;
    max-width: 30ch;
    padding: 0 40px 40px 40px;
}

.card:hover {
    background: linear-gradient(
    270deg,
    var(--emphasize-light),
    var(--emphasize-dark)
  );
  color: var(--usual-light);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: var(--emphasize-light);
    font-weight: 900!important;
}