:root {
  --swiper-navigation-size: 20px!important;
  --swiper-theme-color: #0B3E94!important;
}

* {
  margin: 0;
}

body,
ul,
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
}

.container {
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: roboto;
}
