.header-bg {
    background-color: var(--usual-dark);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header .logo {
    height: 40px;
    margin-left: 40px;
}

.header nav {
    height: 100px;
}

.header .menu {
    height: 100px;
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: right;
    align-items: center;
    margin-right: 40px;
}

.header .menu a {
    color: var(--usual-light);
    width: max-content;
    text-align: right;
    font-size: 1rem;
    text-decoration: none;
    color: var(--usual-light);
    position: relative;
    cursor: pointer;
}

.header .menu a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--usual-light);
    margin-top: 2px;
    transition: 0.3s;
    position: absolute;
}

.header .menu a:hover::after {
    width: 100%;
}

#button-menu {
    display: none;
    background-color: var(--usual-dark);
    border: none;
    position: fixed;
    top: 35px;
    right: 40px;
}

@media (max-width: 1044px) {
    #button-menu {
        display: block;
    }
    .header .menu {
        display: none;
        position: absolute;
        width: 30vh;
        top: 100px;
        right: 0;
        font-size: 1.5rem;
        background-color: var(--usual-dark);
        filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
        flex-direction: column;
        height: 400px;
        border-bottom-left-radius: 10px;
        margin-right: 0;
        gap: 10px;
    }
    .header .menu li {
        padding: 40px 70px;
    }
    #nav.active-menu .menu {
        display: flex;
    }
}