.header-bg {
    background-color: var(--usual-dark);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    align-items: center;
}

.header .logo {
    height: 40px;
}

.header nav {
    height: 100px;
}

.header .menu {
    height: 100px;
    list-style: none;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.header .menu li {
    color: var(--usual-light);
    width: max-content;
    text-align: right;
    font-size: 1rem;
    text-decoration: none;
    color: var(--usual-light);
    position: relative;
    cursor: pointer;
}

.header .menu li::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--usual-light);
    margin-top: 2px;
    transition: 0.3s;
    position: absolute;
}

.header .menu li:hover::after {
    width: 100%;
}